@font-face {
  font-family: "iconfont"; /* Project id 3742456 */
  src: url('/css/iconfont.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quxiao1:before {
  content: "\e60f";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-sousuo1:before {
  content: "\e618";
}

.icon-quxiao-:before {
  content: "\e606";
}

.icon-quxiao2:before {
  content: "\e627";
}

.icon-sousuo2:before {
  content: "\e610";
}

.icon-quxiao3:before {
  content: "\e67c";
}

.icon-quxiao4:before {
  content: "\e667";
}

.icon-sousuo3:before {
  content: "\e75f";
}

.icon-sousuo4:before {
  content: "\e61f";
}

.icon-sousuo5:before {
  content: "\e60b";
}

.icon-sousuo:before {
  content: "\e64a";
}

.icon-quxiao:before {
  content: "\e63c";
}


